In [1]:
import pandas as pd

In [2]:
#구분인자가 ,가 아니라 ; 입니다.
file = './data/bank-additional-full.csv'
data = pd.read_csv(file,sep=';')
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [4]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [5]:
object_col = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']

In [6]:
#one-hot encodding
data = pd.get_dummies(data,columns = object_col)
data.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0

In [7]:
data['id'] = range(len(data))

In [8]:
train = data.sample(30000, replace=False, random_state=42).reset_index(drop=True)
test = data.loc[~data['id'].isin(train['id'])].reset_index(drop=True)
print(train.shape)
print(test.shape)

(30000, 65)
(11188, 65)

## 랜덤포레스트 실습

In [9]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=500, min_samples_split= 10)

In [10]:
input_col =['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success']

In [11]:
rf.fit(train[input_col],train['y'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
predicts = rf.predict(test[input_col])

In [13]:
test['pred'] = predicts

In [14]:
(test['pred']==test['y']).mean()

0.9154451197711834

#### 변수 중요도 뽑아내기

In [14]:
feature_imp  = rf.feature_importances_
feature_imp

array([5.41103683e-02, 3.27927678e-01, 2.39574580e-02, 3.86920838e-02,
       1.21297631e-02, 3.14875693e-02, 2.73324123e-02, 3.28510640e-02,
       9.84257690e-02, 7.18746080e-02, 7.00986182e-03, 5.70089452e-03,
       3.50555625e-03, 3.24707839e-03, 5.18207961e-03, 4.85597159e-03,
       3.73200003e-03, 4.93721358e-03, 3.92015230e-03, 6.69071336e-03,
       3.30331326e-03, 1.79783233e-03, 5.16818288e-03, 6.39647669e-03,
       6.51539426e-03, 6.75029074e-04, 4.56721175e-03, 3.77764517e-03,
       5.45052341e-03, 6.88097090e-03, 4.24709521e-04, 6.22127624e-03,
       7.75796869e-03, 4.46502664e-03, 4.27888212e-03, 4.34729201e-03,
       1.03635279e-08, 6.65138627e-03, 1.84113899e-03, 6.59870356e-03,
       6.07305144e-03, 1.90287724e-03, 5.98421160e-03, 7.62738385e-03,
       7.31492602e-03, 4.63595628e-03, 2.30748735e-03, 8.98213866e-04,
       2.43307873e-03, 3.28301498e-03, 7.02909104e-03, 5.66111602e-03,
       2.40950514e-03, 6.01607069e-03, 2.52827345e-03, 6.89232304e-03,
       8.06219301e-03, 7.26366477e-03, 6.90472503e-03, 7.10200594e-03,
       7.32687523e-03, 7.07521754e-03, 2.85794681e-02])

In [16]:
imp_df = pd.DataFrame({'var': input_col,
             "imp":feature_imp})
imp_df

                     var       imp
0                    age  0.054110
1               duration  0.327928
2               campaign  0.023957
3                  pdays  0.038692
4               previous  0.012130
..                   ...       ...
58       day_of_week_tue  0.006905
59       day_of_week_wed  0.007102
60      poutcome_failure  0.007327
61  poutcome_nonexistent  0.007075
62      poutcome_success  0.028579

[63 rows x 2 columns]

In [17]:
imp_df.sort_values(['imp'],ascending=False)

                     var           imp
1               duration  3.279277e-01
8              euribor3m  9.842577e-02
9            nr.employed  7.187461e-02
0                    age  5.411037e-02
3                  pdays  3.869208e-02
..                   ...           ...
21           job_unknown  1.797832e-03
47             month_dec  8.982139e-04
25       marital_unknown  6.750291e-04
30  education_illiterate  4.247095e-04
36           default_yes  1.036353e-08

[63 rows x 2 columns]

### 의사결정나무와의 비교

In [15]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(min_samples_split=10)

In [16]:
dt.fit(train[input_col],train['y'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [17]:
test['pred'] = dt.predict(test[input_col])
(test['pred']==test['y']).mean()

0.8965856274579908

성능의 향상이 존재한다.

## XGBoost

#### Xgboost 설치하기

In [18]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.4.2-py3-none-win_amd64.whl (97.8 MB)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.18.1)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.4.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.4.2

In [18]:
from xgboost import XGBClassifier

In [19]:
xgb = XGBClassifier(n_estimators = 300, learning_rate=0.1)

In [20]:
xgb.fit(train[input_col],train['y'])

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[21:40:33] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.1, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=300, n_jobs=8, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=True,
              validate_parameters=1, verbosity=None)

In [21]:
predict = xgb.predict(test[input_col])

In [22]:
test['pred']=predict
(test['pred']==test['y']).mean()

0.9174115123346442

In [23]:
feature_imp  = xgb.feature_importances_
feature_imp

array([0.00597441, 0.0308523 , 0.00551748, 0.01497639, 0.00518825,
       0.02998009, 0.00952541, 0.02324329, 0.01202183, 0.51807296,
       0.0047548 , 0.00731753, 0.00588592, 0.00412568, 0.00426108,
       0.00680554, 0.00371646, 0.00665365, 0.00350346, 0.00577547,
       0.00615437, 0.0059154 , 0.00556446, 0.00494288, 0.00568661,
       0.00601598, 0.00535055, 0.00490671, 0.00632442, 0.00516044,
       0.00180766, 0.00498786, 0.00719695, 0.00558445, 0.01025994,
       0.        , 0.        , 0.00387224, 0.00649904, 0.00507243,
       0.0055904 , 0.        , 0.00976854, 0.01187251, 0.        ,
       0.00674863, 0.00538042, 0.00548682, 0.00957114, 0.00510372,
       0.00659235, 0.02047575, 0.00777432, 0.01854511, 0.00636393,
       0.00533496, 0.00725524, 0.00555016, 0.00564068, 0.00728359,
       0.00822306, 0.        , 0.03198423], dtype=float32)

In [24]:
imp_df = pd.DataFrame({'var': input_col,
             "imp":feature_imp})
imp_df

                     var       imp
0                    age  0.005974
1               duration  0.030852
2               campaign  0.005517
3                  pdays  0.014976
4               previous  0.005188
..                   ...       ...
58       day_of_week_tue  0.005641
59       day_of_week_wed  0.007284
60      poutcome_failure  0.008223
61  poutcome_nonexistent  0.000000
62      poutcome_success  0.031984

[63 rows x 2 columns]

In [25]:
imp_df.sort_values(['imp'],ascending=False)

                     var       imp
9            nr.employed  0.518073
62      poutcome_success  0.031984
1               duration  0.030852
5           emp.var.rate  0.029980
7          cons.conf.idx  0.023243
..                   ...       ...
44     contact_telephone  0.000000
41          loan_unknown  0.000000
36           default_yes  0.000000
35       default_unknown  0.000000
61  poutcome_nonexistent  0.000000

[63 rows x 2 columns]

성능의 향상이 발생했다.

In [29]:
results = []
for n in range(100, 1000,100):
    xgb = XGBClassifier(n_estimators = n, learning_rate=0.1)
    xgb.fit(train[input_col],train['y'])
    predict = xgb.predict(test[input_col])
    test['pred']=predict
    results.append((test['pred']==test['y']).mean())

[22:49:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:49:18] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:49:23] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:49:29] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:49:38] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:49:50] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:50:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:50:24] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[22:50:43] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [27]:
print(results)